services:
  backend:
    image: veripass/backend:latest
    container_name: veripass-backend
    env_file:
      - ./cmd/veripass/.env
  frontend:
    image: veripass/frontend:latest
    container_name: veripass-frontend
  nginx:
    image: nginx:latest
    container_name: veripass-nginx
    ports:
      - "5002:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
