services:
  backend:
    image: veripass/backend:latest
    container_name: veripass-backend
    env_file:
      - ./cmd/veripass/.env
    depends_on:
      pgdb:
        condition: service_healthy
  frontend:
    image: veripass/frontend:latest
    container_name: veripass-frontend
    environment:
      - CLIENT_ID=veripass
      - REDIRECTION_URI=http://localhost:5002/api/callback
    depends_on:
      - backend
  nginx:
    image: nginx:latest
    container_name: veripass-nginx
    ports:
      - "5002:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
  pgdb:
    image: postgres:latest
    environment:
      POSTGRES_USER: veripass
      POSTGRES_PASSWORD: veripass
      POSTGRES_DB: veripass
    volumes:
      - pgdata:/var/lib/postgresql
    container_name: veripass-pgdb
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "veripass"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
  dex:
    image: dexidp/dex:latest
    container_name: veripass-dex
    ports:
      - "1433:1433"
    volumes:
      - ./dex-config.yaml:/etc/dex/config.yaml
    command: ["dex","serve","/etc/dex/config.yaml"]

volumes:
  pgdata:
